.sidebar{
    width:280px;
    height:100vh;
    background:#ffffff;
    border-right:1px solid #e5e7eb;
}

.logo{
    height:95px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-bottom:1px solid #e5e7eb;
}

.logo h2{
    font-size:24px;
    font-weight:700;
    color:#111827;
}

.sidebar-menu{
    list-style:none;
    padding:20px;
}

.sidebar-menu li{
    display:flex;
    align-items:center;
    gap:15px;

    height:52px;

    padding:0 18px;

    border-radius:12px;

    color:#4b5563;

    cursor:pointer;

    transition:.3s;
}

.sidebar-menu li:hover{
    background:#f3f4f6;
}

.sidebar-menu li.active{
    background:#eef0f3;
    color:#111827;
    font-weight:600;
}

.icon{
    font-size:18px;
}